h1
    {
        color:red ;
        background-color: blueviolet;
    }
h4
    {
        color:rgb(30, 0, 255) ;
        background-color:blueviolet;
    }
p
    {
        color:rgb(0, 255, 200) ;
        background-color:blueviolet;       
    }